{% extends "./index_base.html" %}

{% block content %}
	
<div class="board-page-wrapper">
<div class="board-page 
	{% if board_selected %}
		{% if board_selected.background_color == 'green' %}green-background
		{% elif board_selected.background_color == 'orange' %}orange-background
		{% elif board_selected.background_color == 'blue' %}blue-background
		{% elif board_selected.background_color == 'purple' %}purple-background
		{% elif board_selected.background_color == 'pink' %}pink-background
		{% elif board_selected.background_color == 'red' %}red-background
		{%endif%}
	{%endif%}">
<div class="header">
	<div class="header-left-1">
		<button class="material-icons switch-button large">&#xe5c3;</button>
	</div>
	<div class="header-left-2">
		<a class="home-button" href="#">
			<span class="material-icons home-icon large">&#xe88a;</span>
			<h1 class="trello-title">Trello</h1>
		</a>
	</div>
	<div class="header-main">
		<button class="header-button">
			<span class="header-button-title">Workspaces</span>
			<span class="material-icons drop-arrow medium">&#xe313;</span>
		</button>
		<button class="header-button">
			<span class="header-button-title">Recent</span>
			<span class="material-icons drop-arrow medium">&#xe313;</span>
		</button>
		<button class="header-button">
			<span class="header-button-title">Starred</span>
			<span class="material-icons drop-arrow medium">&#xe313;</span>
		</button>
		<button class="header-button">
			<span class="header-button-title">Templates</span>
			<span class="material-icons drop-arrow medium">&#xe313;</span>
		</button>
		<button class="create-button">
			<span>Create</span>
		</button>
	</div>
	<div class="header-right">
		<div class="search-bar-wrapper">
			<span class="material-icons">&#xe8b6;</span>
			<form>
				<input type="text" name="search-bar" placeholder="Search">
			</form>
		</div>
		<a href="">
			<span class="material-icons info-icon large">&#xe88f;</span>
		</a>
		<a href="">
			<span class="material-icons notification-icon large">&#xe7f5;</span>
		</a>
		<a href="">
			<input type="hidden" name="user_id" value="{{user.id}}">
			<div class="member-icon account-menu">{{ user.username.0|title }}</div>
		</a>
	</div>
</div>

<div class="main">
	<div class="sidebar">
		<div class="sidebar-top">
			<a class="t-logo" href="#">
				<span>T</span>
			</a>
			<div class="sidebar-top-main">
				<a class="heavier-font" href="">Trello workspace</a>
				<span class="smaller-font">Free</span>
			</div>
			<a href="">
				<span class="material-icons large">&#xe314;</span>
			</a>
		</div>
		<div class="sidebar-main">
			<div class="sidebar-main-module">
				<a class="sidebar-item" href="{% url 'trello_boards:index' %}">
					<span class="material-icons front-icon medium">&#xe30d;</span>
					<span class="button-tittle">Boards</span>
				</a>
				<a class="sidebar-item" href="">
					<span class="material-icons medium">&#xe7ff;</span>
					<span class="button-tittle">Members</span>
					<span class="material-icons large">&#xe145;</span>
				</a>
				<a class="sidebar-item" href="">
					<span class="material-icons medium">&#xe8b8;</span>
					<span class="button-tittle">Settings</span>
				</a>
			</div>
			<div class="sidebar-main-module">
				<div class="sidebar-module-header">
					<span class="sidebar-module-title">
						Workspace views
					</span>
				</div>
				<a class="sidebar-item" href="">
					<span class="material-icons medium">&#xe24b;</span>
					<span class="button-tittle italic-font">Table</span>
				</a>
				<a class="sidebar-item" href="">
					<span class="material-icons medium">&#xe916;</span>
					<span class="button-tittle italic-font">Calendar</span>
				</a>
			</div>
			<div class="sidebar-main-module">
				<div class="sidebar-module-header">
					<span class="sidebar-module-title">
						Your boards
					</span>
					<input type="hidden" name="user_id" value="{{ user.id }}">
					<span class="material-icons large new-board-menu">&#xe145;</span>
				</div>
				{% for board in user.board_set.all %}
					<div class="board-name-container">
						<a class="sidebar-item {% if board.id == board_selected.id %}selected-board{% endif %}" href="{% url 'trello_boards:board_page' board.id %}">
							<input type="hidden" name="board_id" value="{{ board.id }}">
							<div class="board-color-icon
								{% if board.background_color == 'green' %}green-background
								{% elif board.background_color == 'orange' %}orange-background
								{% elif board.background_color == 'blue' %}blue-background
								{% elif board.background_color == 'purple' %}purple-background
								{% elif board.background_color == 'pink' %}pink-background
								{% elif board.background_color == 'red' %}red-background
								{%endif%}">
								</div>
							<span class="button-tittle sidebar-board-title">{{ board.board_title }}</span>
						</a>
						<span class="material-icons font-20 board-menu">&#xe5d2;</span>
						<input type="hidden" name="board_id" value="{{board.id}}">
					</div>
				{% endfor %}
			</div>

		</div>
		<div class="sidebar-footer">
			<div class="premium-ads">
				<span class="material-icons icon-gift">&#xe8f6;</span>
				<span>Try Premium free</span>
			</div>
		</div>
	</div>

	<div class="main-body">
		{% block body_content %}

		{% endblock body_content %}

	</div>

</div>

<div class="card-page">
	{% include "card_page.html" %}
</div>

<div class="pop-over">
	{% include "pop_over_checklist_partial.html" %}
</div>
</div>
</div>

{% endblock content %}

