{% extends "./index_headers_sidebar_partial.html" %}

{% block body_content %}
	
		<div class="boards-header"> 
			<div class="sidebar-top">
				<a class="t-logo" href="#">
					<span class="letter-t">T</span>
				</a>
				<div class="">
					<div class="brand-name-container">
						<a class="brand-name cursor-not-allowed " href="">Trello workspace</a>
					</div>
					<div class="private-container">
						<span class="material-icons">lock_outline</span>
						<span class="private smaller-font">Private</span>
					</div>
				</div>
			</div>
			<div class="invite-container">
				<span class="material-icons">person_add</span>
				<span class="invite">Invite Workspace members</span> 
			</div>
		</div>
		<div class="line-break-container">
			<div class="line-break"></div>
		</div>
		<div class="boards-body">
			<div class="board-list-container">
				<div class='board-container empty'>
					<a class="board-link new-board-menu" href="#">
						<div class="board-item create-new-board">
							Create new board
						</div>
					</a>
					<input type="hidden" name="user_id" value="{{ user.id }}">
					

				</div>

				{% for board in user.board_set.all %}
					<div class='board-container'>
						<a class="board-link" href="{%url 'trello_boards:board_page' board.id %}">
							<div class="board-item 
								{% if board.background_color == 'green' %}green-background
								{% elif board.background_color == 'orange' %}orange-background
								{% elif board.background_color == 'blue' %}blue-background
								{% elif board.background_color == 'purple' %}purple-background
								{% elif board.background_color == 'pink' %}pink-background
								{% elif board.background_color == 'red' %}red-background
								{%endif%} ">
								<div class="board-title">
									{{ board.board_title }}
								</div>
							</div>
						</a>
					</div>
				{% empty %}
				{% endfor %}	
			</div>
			
				
			</ul>

		</div>

{% endblock body_content %}