
<div class="pop-over-header">
	<span class="pop-over-header-title">Add labels</span>
	<span class="icon-sm material-icons pop-over-close-icon">&#xe5cd;</span>	
</div>
<div class="pop-over-content">
	<span class="edit-label-title">Labels</span>
	<input type="hidden" name="card_id" value="{{ card.id }}">
	<ul class="edit-label-pop-over">
		{% for board_label in board_labels %}
			<li>
				<span class="card-label card-label-{{board_label.label_title}}" data-id="{{board_label.label_title}}">{{board_label.label_custom_title}}
					<span class="icon-sm material-icons label-check-icon {% if board_label.label_title in label_list %}icon-show{% endif %}">&#xe5ca;</span>
				</span>
				<span class="icon-sm material-icons edit-icon edit-label-name">&#xe3c9;</span>
			</li>
		{% endfor %}
	</ul>
</div>


